---
import Button from "../components/Button.astro";
---

<section>
  <div my-8vw md-my-6vw>
    <a
      href="#buy"
      bg-dark
      un-block
      w-15vw
      xl-w-350px
      mx-auto
      px-2
      py-1vw
      xl-py-5
      text-center
      text-white
      text-1.6vw
      xl-text-30px
      rounded-0.9vw
      xl-rounded-4>Где купить</a
    >
  </div>
  <div un-flex flex-col items-center>
    <div max-w-50vw md-max-w-40vw m-b--25px md-m-b--90px>
      <h3 class="text-h3" text-center m-b-1vw xl-m-b-24px>
        Достаточный объем памяти для&nbsp;всех нужных файлов
      </h3>
      <p class="text-p" text-center>
        Накопитель 256 ГБ позволяет хранить на устройстве более 60 тысяч
        фотографий<sup>10</sup>
      </p>
    </div>
    <div>
      <img src="/images/pic-6.webp" w-full alt="picture" hidden md-block />
      <img src="/images/pic-6m.webp" w-full alt="picture" md-hidden />
    </div>
  </div>
  <div>
    <img src="/images/pic-7.webp" w-full alt="360" hidden md-block />
    <img src="/images/pic-7m.webp" alt="360" md-hidden />
  </div>
  <div px-8 m-t--15px md-m-t--30px>
    <h3
      class="text-h3"
      text-center
      m-b-2vw
      xl-mb-24px
      max-w-60vw
      md-max-w-40vw
      mx-auto
    >
      Два стереодинамика, которые заменят портативную колонку
    </h3>
    <p class="text-p" text-center max-w-80vw md-max-w-80vw mx-auto>
      Режим повышенной громкости подходит для прослушивания контента на улице.<br
      /> С HONOR X7c вы не&nbsp;пропустите ни&nbsp;один звонок, а&nbsp;музыка, видео
      и&nbsp;уведомления будут звучать громче и&nbsp;четче.
    </p>
  </div>
</section>
