<section mb-7vw>
  <div md-hidden un-flex flex-col justify-center>
    <h3 text-3.5vw font-600 lh-3.8vw text-center mt-5vw pb-2.2vw>
      Мощный аккумулятор обеспечивает<br />
      длительную работу без подзарядки
    </h3>
    <img src="/images/grad-text.svg" w-45vw mx-auto alt="text" />
  </div>
  <div>
    <img src="images/pic-3.webp" hidden md-block w-full mx-auto alt="picture" />
    <img
      src="images/pic-3m.webp"
      md-hidden
      un-block
      w-full
      mx-auto
      alt="picture"
    />
  </div>
  <div hidden md-flex flex-col items-end mt--50px lg-mr-16vw md-mr-14vw>
    <h3 class="text-h3" pb-1.5vw xl-pb-35px>
      Мощный аккумулятор обеспечивает<br />
      длительную работу без подзарядки
    </h3>
    <img src="/images/grad-text.svg" w-30vw xl-w-450px alt="text" />
    <table mt-4>
      <tr>
        <td p-4
          ><p un-text="center [1vw] xl:[20px]" lh-1.3vw xl-lh-120%>
            до <b>12</b> часов<br />стриминга<br /> в режиме онлайн
          </p></td
        >
        <td p-4
          ><p un-text="center [1vw] xl:[20px]" lh-1.3vw xl-lh-120%>
            до <b>16 </b>часов<br />просмотра<br /> коротких видео
          </p></td
        >
        <td p-4
          ><p un-text="center [1vw] xl:[20px]" lh-1.3vw xl-lh-120%>
            до <b>52</b> часов<br />прослушивания<br /> музыки
          </p></td
        >
        <td p-4
          ><p un-text="center [1vw] xl:[20px]" lh-1.3vw xl-lh-120%>
            до <b>38</b> часов<br /> голосовых<br /> вызовов<sup>8</sup>
          </p></td
        >
      </tr>
    </table>
  </div>
  <div md-hidden un-flex flex-col items-end mt--50px mr-10vw>
    <table>
      <tr>
        <td px-4 py-2
          ><p un-text="center [2vw]" lh-2.4vw>
            до <b>12</b> часов<br />стриминга<br /> в режиме онлайн
          </p></td
        >
        <td px-4 py-2
          ><p un-text="center [2vw]" lh-2.4vw>
            до <b>16 </b>часов<br />просмотра<br /> коротких видео
          </p></td
        >
      </tr>
      <tr>
        <td px-4 py-2
          ><p un-text="center [2vw]" lh-2.4vw>
            до <b>52</b> часов<br />прослушивания<br /> музыки
          </p></td
        >
        <td px-4 py-2
          ><p un-text="center [2vw]" lh-2.4vw>
            до <b>38</b> часов<br /> голосовых<br /> вызовов<sup>8</sup>
          </p></td
        >
      </tr>
    </table>
  </div>
</section>
