<section hidden md-block my-12>
  <div un-flex justify-center items-center gap-2 mb-10>
    <h1 text-4vw xl-text-50px font-600>6 причин выбрать</h1>
    <img src="/images/honor.svg" w-21vw xl-w-300px alt="honor" />
  </div>
  <div un-grid grid-cols-2 gap-3 px-5vw>
    <div row-span-1 col-span-1>
      <img src="/images/grid-1.webp" w-full alt="picture" />
    </div>
    <div row-span-1 col-span-1>
      <img src="/images/grid-2.webp" w-full alt="picture" />
    </div>
    <div row-span-1 col-span-2>
      <img src="/images/grid-3.webp" w-full alt="picture" />
    </div>
    <div row-span-2 col-span-1>
      <img src="/images/grid-4.webp" w-full alt="picture" />
    </div>
    <div row-span-1 col-span-1>
      <img src="/images/grid-5.webp" w-full alt="picture" />
    </div>
    <div row-span-1 col-span-1>
      <img src="/images/grid-6.webp" w-full alt="picture" />
    </div>
  </div>
</section>
