<section
  hidden
  md-block
  pos-relative
  m-t-6vw
  w-full
  h-60vw
  bg-cover
  bg-no-repeat
  bg-center
  style="background-image: url('/images/pic-5.webp')"
>
  <div pos-absolute top-4vw xl-top-20 left-14vw xl-left-35>
    <img src="/images/16gb.svg" w-20vw xl-w-400px alt="16gb" />
  </div>
  <div
    pos-absolute
    bottom-4vw
    xl-bottom-35
    right-4vw
    xl-right-20
    max-w-35vw
    xl-max-w-500px
  >
    <img src="/images/effect.svg" w-20vw xl-w-400px alt="effect" />
    <p class="text-p" text-left m-t1vw xl-mt-20px>
      С помощью технологии HONOR RAM Turbo объем оперативной памяти
      увеличивается до&nbsp;16&nbsp;ГБ, что обеспечивает плавную работу даже
      во&nbsp;время длительного использования устройства.
    </p>
  </div>
</section>
<section md-hidden m-t-8vw>
  <div un-flex flex-col items-center max-w-60vw justify-center mx-auto px-2>
    <img src="/images/16gb-m.svg" w-40vw alt="16gb" m-b-1vw /><img
      src="/images/effect-m.svg"
      m-b-1vw
      w-49vw
      alt="effect"
    />
    <p class="text-p" text-center mx-auto>
      С помощью технологии HONOR RAM Turbo объем оперативной памяти
      увеличивается до&nbsp;16&nbsp;ГБ, что обеспечивает плавную работу даже
      во&nbsp;время длительного использования устройства.
    </p>
  </div>
  <div><img src="/images/pic-5.webp" w-full alt="picture" /></div>
</section>
