<section m-t-6vw>
  <div md-hidden max-w-45vw mx-auto>
    <h3 class="text-h3" text-center m-b-2vw xl-m-b-24px>Snapdragon® 685</h3>
    <p class="text-p" text-center>
      Процессор обладает высокой производительностью для игр, развлечений
      и&nbsp;работы с&nbsp;ресурсоемкими задачами.
    </p>
  </div>
  <div un-flex flex-row>
    <div><img src="/images/procesor.webp" w-full alt="picture" /></div>
    <div hidden md-block max-w-36vw m-r-9vw>
      <h3 class="text-h3" text-right m-b-2vw>Snapdragon® 685</h3>
      <p class="text-p" text-right>
        Процессор обладает высокой производительностью для игр, развлечений
        и&nbsp;работы с&nbsp;ресурсоемкими задачами.
      </p>
    </div>
  </div>
  <h3
    md-hidden
    class="text-h3"
    un-text="[#00846D] center"
    max-w-40vw
    mx-auto
    my-4vw
  >
    Новые технологии, новые возможности
  </h3>
  <h3
    hidden
    md-block
    class="text-h3"
    text-center
    mx-auto
    max-w-60vw
    my-6vw
    xl-my-90px
  >
    Новые технологии, новые возможности
  </h3>
  <div
    un-flex
    flex-col
    md-flex-row
    items-center
    justify-center
    gap-y-3
    md-gap-2
    md-w-85%
    md-m-x-auto
  >
    <div w-80vw md-w-30vw px-2vw p-t-2vw m-b-3vw bg-gray-1 rounded-1vw>
      <h4
        class="text-h4"
        text-center
        max-w-40vw
        md-h-6vw
        mx-auto
        md-text-left
        m-b-1vw
        xl-h-86px
        xl-m-b-20px
      >
        Magic Capsule: магия многозадачности
      </h4>
      <p
        class="text-p"
        text-center
        max-w-50vw
        mx-auto
        md-text-left
        m-b-4vw
        h-8vw
        xl-h-150px
      >
        Вся важная информация, звонки, будильник и&nbsp;многое другое — в одном
        удобном интерфейсе.
      </p>
      <img src="/images/smart-12.webp" w-40vw md-w-full mx-auto alt="smart" />
    </div>
    <div w-80vw md-w-30vw px-2vw p-t-2vw m-b-3vw bg-gray-1 rounded-1vw>
      <h4
        class="text-h4"
        text-center
        max-w-40vw
        md-h-6vw
        mx-auto
        md-text-left
        m-b-1vw
        xl-h-86px
        xl-m-b-20px
      >
        Простота и удобство: доступ в одно касание
      </h4>
      <p
        class="text-p"
        text-center
        max-w-50vw
        mx-auto
        md-text-left
        m-b-4vw
        h-8vw
        xl-h-150px
      >
        Добавляйте важные функции на главный экран для более удобной и
        эффективной работы.
      </p>
      <img src="/images/smart-13.webp" w-40vw md-w-full mx-auto alt="smart" />
    </div>
    <div w-80vw md-w-30vw px-2vw p-t-2vw m-b-3vw bg-gray-1 rounded-1vw>
      <h4
        class="text-h4"
        text-center
        max-w-40vw
        md-h-6vw
        mx-auto
        md-text-left
        m-b-1vw
        xl-h-86px
        xl-m-b-20px
      >
        Мое избранное: свайп тремя пальцами сверху вниз
      </h4>
      <p
        class="text-p"
        text-center
        max-w-50vw
        mx-auto
        md-text-left
        m-b-4vw
        h-8vw
        xl-h-150px
      >
        Сохраняйте веб-сайты, изображения, документы и&nbsp;многое другое
        в&nbsp;закладки.
      </p>
      <img src="/images/smart-14.webp" w-40vw md-w-full mx-auto alt="smart" />
    </div>
  </div>
</section>
