<section>
  <div md-hidden mt-8vw px-8>
    <h3 class="text-h3" text-center m-b-2vw>Высокое качество изображения</h3>
    <p class="text-p" text-center max-w-60vw mx-auto>
      Основная камера 108 Мп. Трехкратный зум без потери качества для самых
      ярких и&nbsp;запоминающихся моментов.
    </p>
  </div>
  <div mt-4vw md-mt-8vw md-px-8vw>
    <img src="/images/pic-8.webp" w-full alt="picture" hidden md-block />
    <img src="/images/pic-8m.webp" w-full alt="picture" md-hidden />
  </div>
  <div hidden md-flex flex-col items-end m-t--30px>
    <div max-w-45vw xl-max-w-750px>
      <h3 class="text-h3" text-left m-b-2vw xl-m-b-24px>
        Высокое качество изображения
      </h3>
      <p class="text-p" text-left>
        Основная камера 108 Мп. Трехкратный зум без потери качества для самых
        ярких и&nbsp;запоминающихся моментов.
      </p>
    </div>
  </div>
  <div un-flex flex-col items-center px-6vw m-t-6vw md-m-t-8vw>
    <div max-w-70vw>
      <h3 class="text-h3" text-center m-b-3vw>
        Яркий экран и технологии защиты зрения
      </h3>
      <img src="/images/pic-9.webp" w-full alt="picture" />
      <p class="text-p" m-y-2vw>
        HONOR X7c оснащен экраном с диагональю 6,77 дюйма с частотой обновления
        120&nbsp;Гц, а&nbsp;полезная площадь составляет&nbsp;90,76%.
      </p>
      <div un-flex flex-row justify-center flex-nowrap gap-x-1vw>
        <div w-50%>
          <img src="/images/pic-10.webp" w-full alt="picture" />
          <p class="text-p" text-left m-t-2vw>
            Благодаря пиковой яркости 850&nbsp;нит картинка на&nbsp;экране
            остается четкой при ярком солнечном свете.
          </p>
        </div>
        <div w-50%>
          <img src="/images/pic-11.webp" w-full alt="picture" />
          <p class="text-p" text-left m-t-2vw>
            В темноте яркость автоматически снижается до&nbsp;2&nbsp;нит. Кроме
            того, экран поддерживает фирменные технологии защиты зрения.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
