<section m-y-7vw xl-m-y-70px>
  <div
    hidden
    md-flex
    flex-col
    items-center
    h-60vw
    bg-cover
    bg-no-repeat
    bg-center
    style="background-image: url(/images/pic-15.webp)"
  >
    <div m-t-6vw>
      <h3 class="text-h3" text-center>Три цвета на выбор</h3>
    </div>
  </div>
  <div
    md-hidden
    un-flex
    flex-col
    items-center
    h-100vw
    bg-cover
    bg-no-repeat
    bg-center
    style="background-image: url(/images/pic-15m.webp)"
  >
    <div m-t-8vw>
      <h3 class="text-h3" text-center>Три цвета на выбор</h3>
    </div>
  </div>
</section>
<section m-b-6vw xl-m-b-70px id="buy">
  <div un-flex flex-col items-center w-93% md-80% lg-w-70% mx-auto>
    <h3 class="text-h3" text-center m-b-6vw xl-m-b-70px>Где купить</h3>
    <div un-grid grid-cols-2 grid-rows-3 gap-3 sm-gap-6>
      <div class="card">
        <img
          src="/images/logo-mvideo.svg"
          w-17vw
          xl-w-250px
          mx-auto
          m-b-10
          md-m-b-16
          lg-m-b-20
          alt="mvideo"
        />
        <a
          href="https://www.mvideo.ru/promo/honor-x7c"
          un-block
          text-center
          class="text-p link link-hover link-click"
          target="_blank">Перейти на сайт&nbsp;&#8250;</a
        >
      </div>
      <div class="card">
        <img
          src="/images/logo-eld.svg"
          xl-w-270px
          w-18vw
          mx-auto
          m-b-10
          md-m-b-16
          lg-m-b-20
          alt="eldorado"
        />
        <a
          href="https://www.eldorado.ru/promo/honor-x7c/?from=hb"
          un-block
          text-center
          class="text-p link link-hover link-click"
          target="_blank">Перейти на сайт&nbsp;&#8250;</a
        >
      </div>
      <div class="card">
        <img
          src="/images/logo-megafon.svg"
          w-16vw
          xl-w-240px
          mx-auto
          m-b-10
          md-m-b-16
          lg-m-b-20
          alt="megafon"
        />
        <a
          href="https://shop.megafon.ru/promo/honor_x7c"
          un-block
          text-center
          class="text-p link link-hover link-click"
          target="_blank">Перейти на сайт&nbsp;&#8250;</a
        >
      </div>
      <div class="card">
        <img
          src="/images/logo-mts.svg"
          w-12vw
          xl-w-230px
          mx-auto
          m-b-10
          md-m-b-16
          lg-m-b-20
          alt="mts"
        />
        <a
          href="https://shop.mts.ru/promo/honor-x7c"
          un-block
          text-center
          class="text-p link link-hover link-click"
          target="_blank">Перейти на сайт&nbsp;&#8250;</a
        >
      </div>
      <div class="card">
        <img
          src="/images/logo-ozone.svg"
          w-14vw
          xl-w-240px
          mx-auto
          m-b-10
          md-m-b-16
          lg-m-b-20
          alt="ozone"
        />
        <a
          href="/"
          un-block
          text-center
          class="text-p link link-hover link-click"
          target="_blank">Перейти на сайт&nbsp;&#8250;</a
        >
      </div>
      <div class="card">
        <img
          src="/images/logo-dns.svg"
          w-12vw
          xl-w-220px
          mx-auto
          m-b-10
          md-m-b-16
          lg-m-b-20
          alt="dns"
        />
        <a
          href="https://promo.dns-shop.ru/honor-x7c-bundle/"
          un-block
          text-center
          class="text-p link link-hover link-click"
          target="_blank">Перейти на сайт&nbsp;&#8250;</a
        >
      </div>
    </div>
  </div>
</section>
