<section>
  <div pos-relative>
    <img src="/images/pic-2.webp" w-full alt="picture" /><div
      pos-absolute
      top-7
      xl-top-20
      md-top-15
      left-10
      md-left-15
      lg-left-30
      w-38vw
      xl-w-550px
      un-flex
      flex-col
      items-start
    >
      <h3 class="text-h3" text-left my-1vw>Защита от влаги IP64</h3>
      <p text-left class="text-p" my-1vw>
        Тестирование под струей воды в течение трех минут подтверждает, что
        HONOR X7c легко выдерживает случайное попадание под дождь или даже
        падение в бассейн.
      </p>
      <img src="/images/ip64.svg" w-5vw xl-w-70px alt="pic" />
      <p text-left class="text-p" my-1vw>Степень защиты от пыли и воды.</p>
    </div>
  </div>
</section>
