<section hidden md-block>
  <div pos-relative>
    <img src="/images/pic-1.webp" w-full alt="picture" />
    <div
      pos-absolute
      top-15
      right-15
      lg-right-30
      w-30vw
      un-flex
      flex-col
      items-end
    >
      <h3 text-2.5vw font-600 lh-2.5vw text-right my-1vw>
        Устойчивость<br /> к повреждениям
      </h3>
      <p text-right text-1.5vw lh-1.8vw my-1vw>
        Амортизирующая конструкция и усиленное стекло обеспечивают повышенную
        прочность.
      </p>
      <p text-right text-1.5vw lh-1.8vw mb-1.6vw>
        Сертификат 5 звезд SGS Premium Performance подтверждает устойчивость к
        падениям и ударам благодаря исключительной прочности и качеству сборки.
      </p>
      <img src="/images/star-2.svg" w-12vw alt="star" />
    </div>
  </div>
</section>
<section md-hidden>
  <div un-flex flex-col justify-center px-2vw mb--20px>
    <h3 text-4vw font-600 lh-2.5vw text-center mb-2.5vw>
      Устойчивость к повреждениям
    </h3>
    <p text-center text-2vw mb-2.5vw lh-2.5vw max-w-60vw mx-auto>
      Амортизирующая конструкция и усиленное стекло обеспечивают повышенную
      прочность.Сертификат 5 звезд SGS Premium Performance подтверждает
      устойчивость к падениям и ударам благодаря исключительной прочности и
      качеству сборки.
    </p>
    <img m-auto src="/images/star-2.svg" w-20vw alt="star" />
  </div>
  <div>
    <img src="/images/pic-1m.webp" w-full mx-auto alt="picture" />
  </div>
</section>
