<section
  w-full
  h-60vw
  bg-cover
  bg-no-repeat
  bg-center
  style="background-image: url('/images/pic-4.webp')"
>
  <div>
    <h3 text-center mb-2.5vw xl-mb-34px class="text-h3">
      Суперэнергосберегающий режим
    </h3>
    <p text-center class="text-p">
      При <b un-text="[#00846D]">2%</b> заряда пользователям доступно до 55 минут
      звонков.
    </p>
  </div>
</section>
