<section md-hidden my-10 px-8vw>
  <div un-flex flex-col justify-center items-center gap-2 mb-6vw>
    <h1 text-4vw font-600>6 причин выбрать</h1>
    <img src="/images/honor.svg" w-21vw alt="honor" />
  </div>

  <table w-full mx-auto>
    <tr>
      <td p-1><img src="/images/grid-1.webp" w-full alt="picture" /></td>
      <td p-1 w-40% rowspan="2"
        ><img src="/images/grid-2m.webp" w-full alt="picture" /></td
      >
    </tr>
    <tr>
      <td p-1><img src="/images/grid-3m.webp" w-full alt="picture" /></td>
    </tr>
    <tr>
      <td p-1><img src="/images/grid-4m.webp" w-full alt="picture" /></td>
      <td p-1 w-40%><img src="/images/grid-5m.webp" w-full alt="picture" /></td>
    </tr>
    <tr>
      <td p-y-1 colspan="2"
        ><img src="/images/grid-6m.webp" w-full alt="picture" /></td
      >
    </tr>
  </table>
</section>
