<section m-b-6vw xl-m-b-60px>
  <div w-85% mx-auto m-b-5vw xl-m-b-40px><hr border-0 bg-gray-4 h-px /></div>

  <div w-80% mx-auto>
    <ol>
      <li>
        Смартфон получил сертификат SGS Premium Performance по устойчивости к
        повреждениям при падениях и ударах. Продукт содержит высокоточные
        электронные компоненты, не роняйте и не ударяйте смартфон.
      </li>
      <li>
        Смартфон не является водонепроницаемым. Защита от влаги и пыли
        протестирована в лабораторных условиях по стандарту IP64. Устойчивость к
        воде и пыли не является постоянной характеристикой и может снижаться в
        результате эксплуатации. Гарантия не распространяется на повреждения от
        попадания жидкости.
      </li>
      <li>
        Типичная емкость батареи составляет 5200 мА·ч, а номинальная — 5100
        мА·ч. Максимальная поддерживаемая мощность проводной зарядки составляет
        35 Вт при использовании оригинального зарядного устройства и кабеля.
        Фактическая мощность зарядки может варьироваться в зависимости от
        сценариев использования.
      </li>
      <li>
        Фактически доступный объем постоянной и оперативной памяти меньше
        заявленного значения, так как его часть используется системным ПО.
        Доступны версии с различным объемом постоянной и оперативной памяти,
        доступность зависит от региона. Технология HONOR RAM Turbo позволяет
        расширить оперативную память 8 ГБ до эквивалента 16 ГБ.
      </li>
      <li>
        По данным лаборатории HONOR. Функция доступна только при активации
        режима сверхгромкости 300% по сравнению с 15-м уровнем громкости той же
        модели. Режим поддерживается в таких сценариях, как рингтоны, звонки,
        воспроизведение медиа и навигация. Не поддерживается при воспроизведении
        через наушники или Bluetooth. Фактический эффект функции может
        отличаться в зависимости от условий использования.
      </li>
      <li>
        108 Мп — разрешение основной камеры. Фактическое разрешение фото может
        отличаться в зависимости от режима съемки.
      </li>
      <li>
        В условиях лаборатории HONOR смартфон может находиться под водой на
        глубине 0,25 м до 3 минут или на глубине 0,5 м до 1 минуты. При
        повседневном использовании избегайте контакта с коррозионно-активными
        жидкостями, например морской водой. Гарантия не распространяется на
        повреждения от попадания жидкости.
      </li>
      <li>
        Данные лаборатории HONOR. Все тесты проводились с включенным Wi-Fi и при
        стандартной частоте обновления экрана. Время онлайн-стриминга
        тестировалось при яркости экрана 200 нит, 8-м уровне громкости и
        качестве видео 720p; время воспроизведения музыки — при выключенном
        экране и 8-м уровне громкости. Время использования соцсетей
        тестировалось при яркости экрана 200 нит и 8-м уровне громкости.
        Продолжительность вызовов VoLTE тестировалась при выключенном экране.
        Фактическое время использования может отличаться в зависимости от
        сценариев использования.
      </li>
      <li>
        По данным лаборатории HONOR. Продолжительность 5G-звонков тестировалась
        в условиях комнатной температуры 25℃ при выключенном экране, Wi-Fi и
        передаче данных, на 7-м уровне громкости и в суперэнергосберегающем
        режиме (уровень заряда батареи ниже 2%) до полного отключения
        устройства. Фактические данные могут отличаться в зависимости от условий
        тестирования.
      </li>
      <li>По данным лаборатории HONOR из расчета 4 МБ на каждую фотографию.</li>
      <li>
        По данным лаборатории HONOR. Фактическая частота обновления может
        отличаться в зависимости от настроек и используемых приложений.
        Максимальная пиковая яркость экрана составляет 850 нит.
      </li>
    </ol>
  </div>
</section>
